<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Juguetes</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<header>
    <img src="" alt="">
</header>
<body>
    <img src="http://181.115.199.123/static/images/logo_blanco.png" alt="" class="imagen">
    <div class="container">
        <div>
            <h1>CAMPAÑA NAVIDEÑA</h1>
            
        </div>
        
        <!-- Formulario de Personal -->
        <div class="form-section">
            <h2>Registrar Donante</h2>
            <form action="/personal" method="POST">
                <input type="text" name="nombre" placeholder="Nombre" required>
                <button type="submit">Registrar Donante</button>
            </form>
        </div>

        <!-- Formulario de Juguetes -->
        <div class="form-section">
            <h2>Registrar Entrega de Juguetes</h2>
            <form action="/juguetes" method="POST">
                <select name="personal" required>
                    <option value="">Seleccionar Donante</option>
                    <% personal.forEach(p => { %>
                        <option value="<%= p._id %>"><%= p.nombre %></option>
                    <% }) %>
                </select>

                
                
                <textarea name="descripcion" placeholder="Descripción del juguete" required></textarea>
                
                <input type="number" name="cantidad" placeholder="Cantidad" min="1" required>
                
                <select name="categoria" required>
                    <option value="">Categoría</option>
                    <option value="niño">Niño</option>
                    <option value="niña">Niña</option>
                    <option value="bebe">Bebé</option>
                </select>
                
                <button type="submit">Registrar Entrega</button>
            </form>
        </div>

        <a href="/estadisticas" class="btn-link">Ver Estadísticas</a>
    </div>

</body>
</html>